<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Catalogue</a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for category in this.categories %}
            <a class="dropdown-item" href="{{ path('category_show', {id:category.id}) }}">{{ category.name }}</a>
        {% endfor %}
    </div>
</li>